.swiper-button-prev {
  width: 40px;
  height: 40px;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 50%;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  font-size: 11px;
  font-weight: bolder;
  color: darkgray;
}
.swiper-button-next {
    width: 40px;
    height: 40px;
    background-color: rgb(45, 20, 136);
    border: 1px solid lightgrey;
    border-radius: 50%;
  }
  .swiper-button-next:after,
  .swiper-rtl .swiper-button-next:after {
    font-size: 11px;
    font-weight: bolder;
    color: darkgray;
  }
  